body {
  background-image: url("../images/blue-sky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.scale {
top: -1.7em;
}
.container-fluid {
  padding: 10px;
}
.weather-app {
  width: 100%;
  margin:auto;
}
.border-success {
  border-radius: 10px;
}
.btn {
  max-width: 100%;
}
.temperature-scale {
  font-size: 1.5em;
  display:inline-block;  
 }
.temperature-scale a {
  text-decoration: none;
}
#forecast-card {
  background-color: transparent;
}
.card-day-title {
  font-size: 20px;
  font-weight: bold;
}

.active {
  color: #000000;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

#currentCity {
  text-align: left;
    color: var(--bs-white);
    font-weight: 700;
    font-size: 1.7em;
}
#currentDay {
  font-size: 30px;
}
#currentDateTime {
  text-align: left;
  color: var(--bs-white);
  font-weight: 700;
  font-size: 1.2em;
}
#weatherIcon {
 display: block;  
}
#temperature {
  text-align: left;
  color: var(--bs-white);
  font-weight: 700;
  font-size: 2.5em;
}
#celsius-scale {
  text-decoration: none;
}
#fahrenheit-scale {
  text-decoration: none;
}
#wind {
text-align: left;
color: var(--bs-white);
font-weight: 700;
font-size: 1em;
}
#humidity {
  text-align: left;
  color: var(--bs-white);
  font-weight: 700;
  font-size: 1em;
}
#card-day-icon {
  font-size: 40px;
}
#cardDayTemperature {
  text-align: left;
  font-size: 15px;
}
#card-day-moonday {
  font-size: 12px;
  font-style: italic;
}
