.container {
  
  margin-top: 30px;
  padding: 0;
}
.weather-app {
  width: 60%;
  margin:auto;
}
.border-success {
  border-radius: 10px;
}
.temperature-scale {
  font-size: 25px;
}
.card-day-title {
  font-size: 20px;
  font-weight: bold;
}

#user-location {
  display: inline;
  width: 30%;
}
#currentCity {
  font-weight: bold;
  font-size: 30px;
}
#currentDay {
  font-size: 30px;
}
#currentDateTime {
  font-size: 20px;
}
#weatherIcon {
  display: inline;
  width: 0, auto;
}
#temperature {
  font-size: 60px;
}
#celsius-scale {
  text-decoration: none;
}
#fahrenheit-scale {
  text-decoration: none;
}
#currentTemperature {
  font-size: 22px;
}
#dayInfo {
  font-size: 15px;
}
#tenDaysForecast {
  font-size: 15px;
}
#monthlyForecast {
  font-size: 15px;
}
#card-day-icon {
  font-size: 40px;
}
#cardDayTemperature {
  text-align: left;
  font-size: 15px;
}
#card-day-moonday {
  font-size: 12px;
  font-style: italic;
}
